/*-- scss:uses --*/

@use "colours" as uog; //UoG colour branding

$pumpkin:       #ffb948;

/*-- scss:defaults --*/

// Dark mode theme

$primary: uog.$university-blue;   // background for menu links / headings
$secondary: uog.$cobalt; // corner lines


$active-link: lighten($secondary, 60%);

// Dark mode defaults
$body-bg: #111 !default;     // background for body
$body-color: #fff !default;  // text color

// Typography
$headings-color: #fff !default;
$link-color: #fff !default;
$link-hover-color: $secondary !default;

// Borders
$border-color: #333 !default;

// terms
span.term {
  color: $pumpkin;
  font-weight: 500;
}

// ensure Code fold is not too dark in dark mode
details.code-fold > summary {
  color: uog.$pumpkin;
}

.blockquote > p {
  color: uog.$sunshine;
}
