/* Reset counter at the start of each document */
body {
  counter-reset: question answer;
}

/* Number questions */
.question::before {
  counter-increment: question;
  content: "Question " counter(question) ": ";
  font-weight: bold;
  display: block;
  margin-bottom: 0.25em;
}

/* Number answers */
.answer::before {
  /* counter-increment: answer;
  content: "Answer " counter(answer) ": "; */
  content: "Answer " counter(question) ": ";
  font-weight: bold;
  display: block;
  margin-bottom: 0.25em;
}
